#walrus-showing {
  display: none;
}

.buffalo-showing {
  display: none;
}

.aardvark-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.dark-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
}

.dark-showing {
  display: none;
}

.dynamicborder {
  border: 3px solid lightgrey;
}
