#walrus-showing {
  display: none;
}

.buffalo-showing {
  display: none;
}

.aardvark-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
